{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='main_style.css')}}">
{% endblock style %}


{% block content %}
<div id="info">
    <h1>
        INTELLIGENT SYSTEM
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div id="main_div">
    <a href="/maps">    
        <div>
            Map Coloring
        </div>
    </a>
    <a href="/nqueens">    
        <div>
            8 Queens Problem
        </div>
    </a>
</div>
{% endblock content %}